---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { loadQuery } from "@/sanitymonicadisneysite/lib/load-query";
import type { SanityDocument } from "@sanity/client";
import PortableText from "@/components/PortableText.astro";
import FireworksButton from "@/components/FireworksButton.astro";
import { urlForImage } from "@/sanitymonicadisneysite/lib/urlForImage";
import JSONLDHeader from "@/components/JSONLDHeader.astro"

export const getStaticPaths = (async () => {
	const { data: posts } = await loadQuery<SanityDocument[]>({
		query: `*[_type == "post" && (!(_id in path("drafts.**")) && publishedAt != null)]`,
	});

	const routes = posts.map(({ slug }) => ({
		params: {
			slug: slug.current,
		},
	}));

	return routes;
}) satisfies GetStaticPaths;

const { params } = Astro;

const { data: post } = await loadQuery<{ title: string; body: any[]; publishedAt: string; _updatedAt: string; mainImage: any }>({
	query: `*[_type == "post" && slug.current == $slug][0]`,
	params,
});

const imageURL = urlForImage(post.mainImage.asset).url();
---

<Layout title={post.title} description={post.title} image={imageURL} url={Astro.url.href}>
	<JSONLDHeader slot="json-ld" type="NewsArticle" headline={post.title} image={[imageURL]} datePublished={post.publishedAt} dateModified={post._updatedAt}  />
	<h1 class='text-3xl text-center'>{post.title}</h1>
	<div class='prose' style={{ maxWidth: "100%" }} transition:name='main-box'>
		<PortableText portableText={post.body} />
	</div>
	<div class='p-4 ps-0'>
		<FireworksButton />
	</div>
	<hr class='my-4' />

	<span class='font-mono text-xs'>
		<p>
			<b>Last Updated:</b>
			<time datetime={post._updatedAt}
				>{
					new Date(post._updatedAt).toLocaleDateString("default", {
						dateStyle: "long",
					})
				}</time
			>
		</p>
		<p>
			<b>Published:</b>
			<time datetime={post.publishedAt}
				>{
					new Date(post.publishedAt).toLocaleDateString("default", {
						dateStyle: "long",
					})
				}</time
			>
		</p>
	</span>
</Layout>
