---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { loadQuery } from "@/sanitymonicadisneysite/lib/load-query";
import type { SanityDocument } from "@sanity/client";
import PortableText from "@/components/PortableText.astro";
import FireworksButton from "@/components/FireworksButton.astro";

export const getStaticPaths = (async () => {
	const { data: posts } = await loadQuery<SanityDocument[]>({
		query: `*[_type == "post"]`,
	});

	const routes = posts.map(({ slug }) => ({
		params: {
			slug: slug.current,
		},
	}));

	return routes;
}) satisfies GetStaticPaths;

const { params } = Astro;

const { data: post } = await loadQuery<{ title: string; body: any[]; publishedAt: string; _updatedAt: string }>({
	query: `*[_type == "post" && slug.current == $slug][0]`,
	params,
});
---

<Layout title={post.title} description={post.title}>
	<h1 class='text-3xl text-center'>{post.title}</h1>
	<div class='prose' style={{ maxWidth: "100%" }}>
		<PortableText portableText={post.body} />
	</div>
	<div class="p-4 ps-0">
		<FireworksButton />
	</div>
	<hr class='my-4' />

	<span class='font-mono text-xs'>
		<div>
			<datetime datetime={post._updatedAt}>Updated At: {new Date(post._updatedAt).toLocaleString()}</datetime>
		</div>
		<div>
			<datetime datetime={post.publishedAt}>Published At: {new Date(post.publishedAt).toLocaleString()}</datetime>
		</div>
	</span>
</Layout>
