---
export const prerender = true;
import PortableTextImage from "@/components/PortableTextImage.astro";
import createStarterMetaTags from "@/functions/createStarterMetaTags";
import type { StarterMetaTagProps as InputProps } from "@/functions/createStarterMetaTags";
import Layout from "@/layouts/Layout.astro";
import { loadQuery } from "@/sanitymonicadisneysite/lib/load-query";
import { urlForImage } from "@/sanitymonicadisneysite/lib/urlForImage";
import type { SEOProps } from "astro-seo";
import { Image } from "astro:assets";

interface PostObject {
	title: string;
	slug: string;
	mainImage: any;
	publishedAt: string;
	excerpt: string;
}

// Query will be to get all posts that are published and not in drafts. The order is by published date in descending (most recent update) order.
const { data: posts } = await loadQuery<PostObject[]>({
	query: `*[_type == "post" && (!(_id in path("drafts.**")) && publishedAt != null)] | order(publishedAt desc) {
    title,
    "slug": slug.current,
    mainImage,
    publishedAt,
    "excerpt": array::join(string::split((pt::text(body)), "")[0..255], "") + "...",
    }`,
});

const objectToPlace: InputProps = {
	title: "Monica's Pixie Posts",
	description: "Stay up to date with the latest posts from me!",
	url: Astro.url.href,
	mainSite: Astro.url.origin,
	imageURL: "https://magicaladventuresbymonica.com" + "/monica_og_image.jpeg",
	imageAlt: "Monica DeFosse - Once Upon A Wish Travel Photo",
	openGraph: {
		type: "website",
	},
	twitter: {
		card: "summary_large_image",
	},
};

const SEO: SEOProps = createStarterMetaTags(objectToPlace);
---

<Layout userSEOProps={SEO}>
	<h1 class='text-3xl text-center'>Magical Monica Posts</h1>

	<ul class='flex flex-col gap-5 p-4' transition:name='main-box'>
		{
			posts.map((post: any) => {
				const urlImage = urlForImage(post.mainImage);
				const url = urlImage.url();
				const webpUrl = urlImage.format("webp").url();
				return (
					<li class='link-card w-fit hover:outline hover:rounded-xl p-2'>
						<a href={`/blog/${post.slug}`} class='flex gap-5 items-center flex-wrap'>
							<PortableTextImage imageInput={{ ...post.mainImage, alignment: "center", headTransitionName: post.title }} class="rounded-3xl"/>
							<div>
								<h2>
									{post.title}
									<span>&rarr;</span>
								</h2>
								<div class='prose'>
									<p>{post.excerpt}</p>
								</div>
								<time datetime={post.publishedAt}>
									<sub>{new Date(post.publishedAt).toLocaleString()}</sub>
								</time>
							</div>
						</a>
					</li>
				);
			})
		}
	</ul>
</Layout>
