---
import { ViewTransitions } from "astro:transitions";
import favicon from "@/images/favicon.svg";
import oldEpcotPhoto from "@/images/old_epcot_logo_wiki.webp";
import { Image, getImage } from "astro:assets";
import "../styles/style.scss";

interface Props {
	title: string;
	description?: string;
}

const optimizedImage = await getImage({
	src: oldEpcotPhoto,
	format: "webp",
});

const defaultDescription = "Once Upon A Wish Travel";

const { title, description = defaultDescription } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width; initial-scale=1; viewport-fit=cover' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='apple-touch-icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<link rel='sitemap' href='/sitemap-index.xml' />

		<!-- Google tag (gtag.js) -->
		<script is:inline type='text/partytown' async src='https://www.googletagmanager.com/gtag/js?id=G-W6LDP1M78E'></script>
		<script is:inline type='text/partytown'>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-W6LDP1M78E");
		</script>

		<!-- Facebook Meta Tags -->
		<meta property='og:url' content='https://magicaladventuresbymonica.com/' />
		<meta property='og:type' content='website' />
		<meta property='og:title' content='Monica DeFosse - Once Upon A Wish Travel' />
		<meta property='og:description' content='Monica DeFosse - Once Upon A Wish Travel' />
		<meta property='og:image' content='https://magicaladventuresbymonica.com/monica_og_image.jpeg' />

		<!-- Twitter Meta Tags -->
		<meta name='twitter:card' content='summary_large_image' />
		<meta property='twitter:domain' content='magicaladventuresbymonica.com' />
		<meta property='twitter:url' content='https://magicaladventuresbymonica.com/' />
		<meta name='twitter:title' content='Monica DeFosse - Once Upon A Wish Travel' />
		<meta name='twitter:description' content='Monica DeFosse - Once Upon A Wish Travel' />
		<meta name='twitter:image' content='https://magicaladventuresbymonica.com/monica_og_image.jpeg' />

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<header>
			<section class='header-name-section'>
				<a href='/'>
					<p class='prose'>Magical Adventures By Monica</p>
				</a>
			</section>
			<nav class='prose'>
				<a href='/'>Home</a>
				<!-- <a href='/my-adventures'>My Adventures</a>
				<a href='/faq'>FAQ</a>
				<a href='/contact'>Contact</a> -->
				<a href='/about-me'>About Me</a>
			</nav>
		</header>
		<div class='background-image'></div>
		<div class='screen-safe-area'>
			<slot />
		</div>
		<footer>
			<section class='footer-info'>
				<section class='person-info'>
					<p>Monica DeFosse - <a href='https://onceuponawishtravel.com' class='prose' aria-label='Once Upon A Wish Travel Website'><p>Agent of <i>Once Upon A Wish Travel</i></p></a></p>
				</section>
				<section class='contact'>
					<a href='tel:5135152967' class='prose'><p>Phone: (513) 515-2967</p></a>
					<a href='mailto:monica.defosse@onceuponawishtravel.com' class='prose'><p>Email: monica.defosse@onceuponawishtravel.com</p></a>
				</section>
				<section class='copyright'>
					<p>© {new Date().getFullYear()}. All rights reserved.</p>
				</section>
			</section>
			<section id='image-footer'>
				<Image src={favicon} alt='Favicon - Footer Logo' />
			</section>
		</footer>

		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
			}

			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
		</style>
		<style lang='scss' define:vars={{ bgSrc: `url(${optimizedImage.src})` }}>
			@view-transition {
				navigation: auto; /* enabled! */
			}

			.background-image {
				background-image: var(--bgSrc);
				height: 500px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: -1;
				position: absolute;
				left: 0;
				right: 0;
				filter: blur(10px) brightness(90%);
			}

			header {
				display: flex;
				padding: calc(env(safe-area-inset-top) + 1rem) 0.5rem;
				align-items: center;
				background-color: white;
				background-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
				position: sticky;
				top: 0;
				z-index: 999;

				justify-content: space-between;
			}

			body {
				// border: 10px green solid;
				min-height: 100dvh;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.screen-safe-area {
				padding: 1rem;
			}

			footer {
				border-top: 1px solid black;
				background-color: lightblue;
				padding: 1rem;
				display: flex;
			}

			nav {
				display: flex;
				gap: 1rem;
				flex-wrap: wrap;
			}

			@media screen and (max-width: 600px) {
				nav {
					display: none;
				}
			}

			#image-footer {
				max-height: 100px;
				height: 100%;
				aspect-ratio: 1 / 1;
				margin-left: auto;
				opacity: 0.5;
				padding: 1rem;
			}
		</style>
	</body>
</html>
