---
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import "../styles/style.scss";
import Navbar from "@/components/navigation/Navbar.astro";
import { VisualEditing } from "@sanity/astro/visual-editing";
import OpenGraphComponent from "@/components/navigation/OpenGraphComponent.astro";
// import { pwaInfo } from "virtual:pwa-info";
// import ReloadPrompt from "../components/ReloadPrompt.astro";

interface Props {
	title: string;
	description: string;
	url?: string;
	image?: string;
}

const visualEditingEnabled = import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";

const defaultDescription = "Once Upon A Wish Travel";

const { title, description = defaultDescription, url = "https://magicaladventuresbymonica.com/", image = "https://magicaladventuresbymonica.com/monica_og_image.jpeg" } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
		<meta name='theme-color' content='#ffffff' />
		<link rel='icon' href='/favicon.ico' sizes='48x48' />
		<link rel='icon' href='/favicon.svg' sizes='any' type='image/svg+xml' />
		<link rel='apple-touch-icon' href='/apple-touch-icon-180x180.png' />
		<meta name='generator' content={Astro.generator} />
		<link rel='sitemap' href='/sitemap-index.xml' />

		<!-- Google tag (gtag.js) -->
		<script is:inline type='text/partytown' async src='https://www.googletagmanager.com/gtag/js?id=G-W6LDP1M78E'></script>
		<script is:inline type='text/partytown'>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-W6LDP1M78E");
		</script>

		<OpenGraphComponent title={title} description={description} url={url} image={image} />
		<!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
		<title>{title}</title>
		<slot name='json-ld' />
		<ViewTransitions />
	</head>
	<body>
		<span class='bg-filter'></span>
		<span class='flex flex-col justify-between h-dvh'>
			<header>
				<Navbar />
			</header>
			<main class='container mx-auto px-4'>
				<slot />
			</main>
			<Footer />
		</span>

		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
			}

			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
		</style>
		<style lang='scss'>
			@view-transition {
				navigation: auto; /* enabled! */
			}

			.container {
				backdrop-filter: blur(10px);
			}
		</style>
		<VisualEditing enabled={visualEditingEnabled} zIndex={1000} />
		<!-- <ReloadPrompt /> -->
	</body>
</html>
